<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error:404</title>
    <link rel="stylesheet" href="../static/css/model.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="text-align: center;">
        <p class="display-1" style="color: red;">ERROR 404:</p>
        <p class="display-5">Page not found</p>
        <a href="/home" class="btn btn-warning">Back to homepage</a>
    </div>  
</body>
</html>