<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Sample</title>
    <link rel="stylesheet" href="../static/css/addSample.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="form-add">
                <div>
                    <h1>Add Sample</h1>
                </div>

                <form action="" method="post">
                    <div class="add-body">

                        <div class="row2">
                            <label>Name</label>
                            <input value="" name="name" type="text" required>
                        </div>

                        <div class="row3">
                            <label>File path</label>
                            <input type="text" name="filepath" id="input-file" />
                        </div>

                        <div class="row4">
                            <label>Label ID</label>
                            <input type="text" name="labelid" required>
                        </div>
                    </div>

                    <button type="submit">Add</button>
                    <a href="/manager-sample">Back</a>
                </form>
                <div class="message">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>

    </div>
</body>

</html>