<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống nhận diện giọng nói giả mạo</title>
    <link rel="stylesheet" href="../static/css/home2.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Fake Voice Recognition System</h1>
            <p>Xin chào, {{session['username']}}</p>
        </header>

        <div class="upload-file">
            <h2>Input audio WAV</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="audio_data" accept=".wav">
                <input type="submit" value="Upload" class="upload">
            </form>
            <h4 style="text-align: center;">{{session['detect_upload']}}</h4>
            <h3>Replay audio</h3>
            <audio controls id="audioPlayer">
                <source src="" type="audio/wav">
            </audio>
            <a href="home" class="back-btn">Back</a>
        </div>
    </div>
</body>

<script>
    const audioPlayer = document.getElementById('audioPlayer');
    const fileInput = document.querySelector('input[type="file"]');

    fileInput.addEventListener('change', function (event) {
        const audioFile = URL.createObjectURL(event.target.files[0]);
        audioPlayer.src = audioFile;
    });
</script>

</html>