
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Train/Retrain Model</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/managerSample.css">

</head>

<style>
  .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  display: none;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<body>

  <nav class="navbar navbar-dark bg-mynav" style="background-color: #A9D3F8;">
    <div class="nav">
      <a class="navbar-brand" href="#">Train/Retrain Model</a>
    </div>
    <div class="loader"></div>
    <div class="nav">
      <a class="navbar-brand" href="./manager-model">Back</a>
    </div>
  </nav>

  <div class="container">
    <div class="message">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="d-flex bd-highlight mb-3">
      <div class="me-auto p-2 bd-highlight">
        <div class="search">
          <form method="post">
            <div class="text-search" style="display: none;">
              <input type="text" placeholder="Enter Keyword" name="key">
            </div>
            <div class="btn-search" style="display: none;">
              <button>Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-info" style="text-decoration: none;">Train/Retrain</button>
        <button type="button" class="btn btn-info select-all" style="text-decoration: none;">Select All</button>
        
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <tr class="table-tr">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">File-path</th>
          <th scope="col">Status</th>
          <th scope="col">Label</th>
          <th scope="col">
            Action</th>
        </tr>
        {% for sample in sampleList %}
        <tr>
          <td scope="col">{{ sample.id }}</td>
          <td scope="col">{{ sample.name }}</td>
          <td scope="col">{{ sample.filepath }}</td>
          <td scope="col">{{ sample.status }}</td>
          <td scope="col">{{ sample.labelid }}</td>
          <td scope="col">
            <input type="checkbox" value = "{{ sample.id }}" class="sample-element">
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <script>
    sampleElements = document.querySelectorAll('.sample-element')
    selectAll = document.querySelector('.select-all')

    selectAll.addEventListener('click', function(){
        sampleElements.forEach(element => {
            element.checked = true
        });
    })


    trainBtn = document.querySelector('.btn-info')
    trainBtn.addEventListener('click', function(){
        
        let samples = []
        sampleElements.forEach(element => {
            if(element.checked) {
                console.log(element.value)
                samples.push(element.value)
            }        
        });

        alert('Tác vụ này có thể mất vài phút để hoàn thành...')
        
        document.querySelector('.loader').style.display = 'block'
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/manager-model/train-retrain', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                      console.log(1111)
                      location.href = '/manager-model'
                    }
                  };
        xhr.send(JSON.stringify({ "samples": samples}));

        trainBtn.style.display = 'none'
    })
  </script>
</body>

</html>